{% extends "base.html" %}
{% block content %}

<h3 class="teal-text text-darken-4 center-align">Tasks</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_task') }}" class="btn-large">Add Task<i class="material-icons right">add_circle_outline</i>
        </a>
    </div>
</div>

<ul class="collapsible">
    {% for task in tasks|sort(attribute="due_date") %}
    <li id="{{ task.id }}">
        <div class="collapsible-header blue-grey darken-3 white-text">
            <i class="material-icons">chevron_right</i>
            {% if task.is_urgent == True %}
            <i class="material-icons">priority_high</i>
            {% endif %}
            <strong>{{ task.task_name }} </strong>
            <span>: {{ task.due_date.strftime("%d %B, %Y") }}</span>
        </div>
        <div class="collapsible-body">
            <strong>{{ task.category }}</strong>
            <p>{{ task.task_description }}</p>
            <p>
                <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn green accent-3">
                    <i class="material-icons">edit</i>
                </a>
            </p> 
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}